<!--  Login Modal  ----------------------------------->
<!-- <div class="login-modal" ng-hide="ctrl.login">
  <form ng-submit="ctrl.login(userPass)">
    Username <input type="text" ng-model="userPass.username" placeholder="username"/> <br/>
    Password <input type="password" ng-model="userPass.password" placeholder="password"/>
    <br/>
    <input type="submit" value="Log In"/>
  </form>
  <br/>
  Not a registered user? <b ng-click="ctrl.toggleRegister()">Create an account.</b>
</div> -->

<!--  End Login Modal ----------------------------------->




<!--  Register Modal  ----------------------------------->
<!-- <div class="register-modal" ng-show="ctrl.register">
  <form>
    Username <input type="text"/>
    Password <input type="password"/>
    Re-enter Password <input type="password"/>
    Profile Photo (optional) <input type="text" placeholder="URL only"/>
    <input type="submit" value="Create Account"/>
  </form>
</div> -->
<!--  End Register Modal  ----------------------------------->

<!-- <h4 ng-click="ctrl.getUsers()">Click to see secret stuff</h4> -->

<!-- <div> {{ ctrl.error }} </div>

<div ng-repeat="user in ctrl.users">
  <h1>{{ user.username }}</h1>
</div> -->

<!--
<!--  Login Form -->

<h5>Log In / Register</h5>

<body ng-controller="mainController as ctrl">

<form ng-submit="ctrl.login(userPass)">
  <input type="text" ng-model="userPass.username" placeholder="username"/>
  <input type="password" ng-model="userPass.password" placeholder="password"/>
  <input type="submit"/>
</form>

<a href="#" ng-click="ctrl.logout()">Log Out</a>
<!-- {{ ctrl.test }} -->
<!-- <p>Logged in username: {{ ctrl.user.username }} </p> -->

<!-- <h4 ng-click="ctrl.getUsers()">Click to see secret stuff</h4> -->

<!-- <div> {{ ctrl.error }} </div>

<div ng-repeat="user in ctrl.users">
  <h1>{{ user.username }}</h1>
</div> -->

<!-- </body>
<!-- -->
